<section id="formR">
    <h2>Alta de cliente</h2>
    <form method="post" action="rc.do">
        <p><label>Nombre: </label><input type="text" name="name" /></p>
        <p><label>Apellido: </label><input type="text" name="lname" /></p>
        <p><label>Direcci&oacute;n: </label><input type="text" name="adress" /></p>
        <p><label>C&oacute;digo postal: </label><input type="number" name="zipCode" /></p>
        <p><label>Ciudad: </label><input type="text" name="city" /></p>
        <p><label>Estado: </label><input type="text" name="state" /></p>
        <p><label>Pais: </label><input type="text" name="country" /></p>
        <p><label>Tel&eacute;fono: </label><input type="number" name="phone" /></p>
        <p><label>E-mail: </label><input type="email" name="mail" /></p>
        <p><label>Fecha de nacimiento: </label><input type="date" name="bdate" /></p>
        <p><label>N&uacute;mero de cliente: </label><input type="number" name="nclient" disabled=""  /></p>
        <p><label>Contrase&ntilde;a: </label><input type="password" name="pass" /></p>
        <p><label>Confirmar contrase&ntilde;a: </label><input type="password" name="cpass" /></p>
        <p><input type="submit" value="Guardar"/></p>
    </form>
</section>