<div class="container">
    <div class="card">
        <div class="imag">
        <img src="https://www.freeiconspng.com/uploads/computer-user-icon-0.png"></div>
        <h2>Transferencias</h2>
        <p>Revisa tus ultimas transferencias para estar al tanto de tus movimeintos</p>
        <a href="transfers.jsp">Transferencias</a>
    </div>
    
     <div class="card">
        <div class="imag">
        <img src="https://www.freeiconspng.com/uploads/computer-user-icon-0.png"></div>
        <h2>Lista de Transferencias</h2>
        <p>Revisar tus datos</p>
        <a href="transferList.jsp">Lista de Transferencias</a>
    </div>
    <div class="card">
        <div class="imag">
        <img src="https://www.freeiconspng.com/uploads/computer-user-icon-0.png"></div>
        <h2>Detalle de Cuenta </h2>
        <p>Revisar tus datos</p>
        <a href="accountDetail.jsp">Detalle de Cuenta</a>
    </div>
</div>
