<div class="container">
    <div class="card">
        <div class="imag">
        <img src="https://www.freeiconspng.com/uploads/computer-user-icon-0.png"></div>
        <h2>Alta de cliente</h2>
        <p>Revisa tus ultimas transferencias para estar al tanto de tus movimeintos</p>
        <a href="clientRegister.jsp">Alta de cliente</a>
    </div>
    <div class="card">
        <div class="imag">
        <img src="https://www.freeiconspng.com/uploads/computer-user-icon-0.png"></div>
        <h2>Alta de cuenta</h2>
        <p>Revisar tus datos</p>
        <a href="accountRegister.jsp">Alta de cuenta</a>
    </div>
    <div class="card">
        <div class="imag">
        <img src="https://www.freeiconspng.com/uploads/computer-user-icon-0.png"></div>
        <h2>Lista de clientes</h2>
        <p>Revisar tus datos</p>
        <a href="clientList.jsp">Lista de clientes</a>
    </div>
</div>
