<section id="raForm">
    <h1>Alta de cuenta</h1>
    <form action="rac.do" method="post">
    <p><label>Numero de cliente: </label><input type="number" name="nclient" required/></p>
    <p><label>Numero de cuenta: </label><input type="number" name="naccount" required disabled/></p>
    <p><label>Tipo: </label><select name="type">
            <option value="debito">Debito</option>
            <option value="credito">Credito</option>
        </select></p>
    <p><label>Monto: </label><input type="number" name="amount"/></p>
    <p><label>Fecha: </label><input type="date" name="date" /></p>
    <input type="submit" value="Guardar" />
    </form>
</section>
