<section id="formR">
    <h2>Alta de cliente</h2>
    <form method="post" action="rc.do">
        <p><label>Nombre: </label><input type="text" name="name" value=<%%>/></p>
        <p><label>Apellido: </label><input type="text" name="lname"/></p>
        <p><label>Direccion: </label><input type="text" name="adress"/></p>
        <p><label>Codigo postal: </label><input type="number" name="zipCode"/></p>
        <p><label>Ciudad: </label><input type="text" name="city"/></p>
        <p><label>Estado: </label><input type="text" name="state"/></p>
        <p><label>Pais: </label><input type="text" name="country"/></p>
        <p><label>Telefono: </label><input type="number" name="phone"/></p>
        <p><label>E-mail: </label><input type="email" name="mail"/></p>
        <p><label>Fecha de nacimiento: </label><input type="date" name="bdate"/></p>
        <p><label>Numero de cliente: </label><input type="number" name="ncliente" disabled /></p>
        <p><label>Contrasena: </label><input type="password" name="pass"/></p>
        <p><label>Confirmar contrasena: </label><input type="password" name="cpass"/></p>
    </form>
</section>