/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-mar-2019, 2:13:42
    Author     : twozer00
*/

.loader {
  border: 16px solid rgba(09,79,164,1); /* Light grey */
  border-top: 16px solid rgba(0,158,229,1); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

nav a {
    left: 90%;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    /*max-width: 1200px;*/
    height: 430px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    width: 330px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px 10px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}
.imag{
    width: 100%;
    height: 200px;
    background-color: rgba(09,79,164,0.2);
    overflow: hidden;
}

.imag img{
    margin-top:5px;
    width: 60%;
}
.container .card h2{
    font-weight: 300;
}
.container .card p{
    padding:0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.container .card a{
    font-weight: 500;
    text-decoration: none;
    color:rgb(0,110,193);
}

.user{
    display: inline-block;
    position: relative;
    left: 90%;
    transform: translateX(-90%);
}

.user #title{
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.user #title #triangle{
    font-size: 18px;
}

.user{
    text-align: right;
    margin-left: 20px;
}

.user .menu{
    opacity: 1;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    transition:all .40s;
    background: #fff;
    box-shadow: 2px 2px 5px #000; 
}

.user .menuD{
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    background: #fff;
    box-shadow: 2px 2px 5px #000; 
    opacity: 0;
}
.headerDashboard{
    width: 80%;
    display: block;
    margin: auto;
}

.headerDashboard section{
    padding: 15px;
    display: inline-block;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.headerDashboard section h1,h2{
    padding: 0;
    margin: 0;
}


.user .menu li{
    margin:0;
    padding: 15px;
    list-style: none;
}

.user .menu li a{
    color:black;
    text-decoration: none;
}

.user .menu li:hover{
    background: rgba(0,0,0,0.2);
}

.graphContainer{
    display: block;
    width: 80%;
    margin: auto;
}
.graphContainer .graph{
    width: 100%;
    height: 50%;
    min-height: 400px;
}

.graphContainer .loader{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



@media only screen and (max-width: 400px) {
  .container {
    width: 50%;
  }
}





